@using Microsoft.AspNetCore.Identity;
@using TMelix.Data;
@model IEnumerable<TMelix.Models.Filme>

@{
    ViewData["Title"] = "Filmes";
}

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>@ViewData["Title"]</h1>
@if (_signInManager.IsSignedIn(User) && User.IsInRole("Administrador"))
{
	<a class="button-34 a1" asp-action="Create">Adicionar novo Filme</a>
}
<div class="center-div">
	<br />
@if (_signInManager.IsSignedIn(User) && !User.IsInRole("Administrador"))
{
    
	@foreach (var item in Model)
	{
		<div class="mv-card">
			<div class="mv-header" style="background-image: url(@Html.DisplayFor(modelItem => item.Imagem)); background-size: cover;">

				<div class="header-icon-container">
					<a class="mvs" href="#">
						<i class="fa header-icon"></i>
					</a>
				</div>
			</div>
			<div class="mv-content">
				<div class="mv-content-header">
					<div class="mvs">
						<h3 class="title">@Html.DisplayFor(modelItem => item.Titulo)</h3>
						<h4 style="font-weight:lighter !important; color: black;font-size:20px">@Html.DisplayFor(modelItem => item.Genero)</h4>

					</div>

				</div>
				<div class="mv-info">
					<div class="info-section">
						<label>Lançamento</label>
						<span>@Html.DisplayFor(modelItem => item.DataLancamento)</span>

					</div>
					<div class="info-section">
						<label>Classificação</label>
						<span>@Html.DisplayFor(modelItem => item.Classificacao)/5</span>
					</div>
					<div class="info-section">
						<label>Detalhes</label>
						<span><a asp-action="Details" asp-route-id="@item.Id" class="material-icons">add</a></span>
					</div>
					<br>
				</div>
			</div>
		</div>




	}
}
else
{
   

	<br />
	

            @foreach (var item in Model)
            {

				var elenco = @Html.DisplayFor(modelItem => item.Elenco);


                <div class="mv-card">
            <div class="mv-header" style="background-image: url(@Html.DisplayFor(modelItem => item.Imagem)); background-size: cover;">

			<div class="header-icon-container">
				<a class="mvs" href="#">
					<i class="fa header-icon"></i>
				</a>
			</div>
		</div>
		<div class="mv-content">
			<div class="mv-content-header">
				<div class="mvs">
                        <h3 class="title">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                        <h4 style="font-weight:lighter !important; color: black;font-size:20px">@Html.DisplayFor(modelItem => item.Genero)</h4>

				</div>
				
			</div>
			<div class="mv-info">
				<div class="info-section">
					<label>Lançamento</label>
                        <span>@Html.DisplayFor(modelItem => item.DataLancamento)</span>

				</div>
				<div class="info-section">
					<label>Classificação</label>
                        <span>@Html.DisplayFor(modelItem => item.Classificacao)/5</span>
				</div>
					<div class="info-section">
						<label>Detalhes</label>
						<span><a asp-action="Details" asp-route-id="@item.Id" class="material-icons">add</a></span>
					</div>
                <br>
                    <div class="movie_social">
                        <ul>
                            <li><a asp-action="Edit" asp-route-id="@item.Id" class="material-icons">edit</a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.Id"  class="material-icons">delete</a></li>
                            
                        </ul>
                    </div>
			</div>
		</div>
	</div>
            }
	
}

</div>



